http://api.pwrtelegram.xyz, https://api.pwrtelegram.xyz {
	root api/
	errors api.log
	git https://github.com/pwrtelegram/pwrtelegram {
		interval 60
	}
	cors
	gzip
	tls admin@pwrtelegram.xyz
	rewrite {
		to {path} /index.php
	}
	fastcgi / unix:/var/run/hhvm/sock {
		index index.php
	}
}
http://beta.pwrtelegram.xyz, https://beta.pwrtelegram.xyz {
	root beta/
	errors api.log
	cors
	gzip
	tls admin@pwrtelegram.xyz
	rewrite {
		to {path} /index.php
	}
	fastcgi / unix:/var/run/hhvm/sock {
		index index.php
	}
}
http://storage.pwrtelegram.xyz, https://storage.pwrtelegram.xyz {
	root beta/
	errors storage.log
	cors
	gzip
	rewrite {
		to {path} /storage.php
	}
	fastcgi / unix:/var/run/hhvm/sock php
	tls ../keys/storage.cert ../keys/storage.key
}
